---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tst-deploy
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app    
    spec:    
      containers:
      - image: nginx:1.12
        name: nginx
        ports:
        - containerPort: 80
